<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.echozone_project1" >

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Echozone_project1" >
        <activity
            android:name=".join"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="true" >
        </activity>
        <activity
            android:name=".CreateQR"
            android:exported="false" />
        <activity
            android:name=".location"
            android:exported="true" />
        <activity
            android:name=".bottombar"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="r6lqo8nkaa" />
    </application>

</manifest>